body { 
	background: black; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.box {
	text-align: center;
	width: 300px;
	margin: 0 auto;
}

